/* Home.css */

/* Styling for the .home class */
.home {
  display: flex;
  flex-direction: column; /* Set a column layout */
  align-items: center;
  padding: 20px;
  padding-top: 50px;
  background-image: url('back.jpg');
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the background image */
}

/* Styling for the header */
.header {
  text-align: center;
}

/* Styling for the content wrapper */
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Add some space between text and image */
}

/* Styling for the text area */
.text {
  flex: 1;
}

/* Styling for the image */
.image {
  flex: 1;
}

/* Styling for the img element within .image */
.image img {
  max-width: 100%; /* Make the image responsive */
  height: auto;
  border: 2px solid #333;
  border-radius: 5%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

/* Styles for the text within .text */
.text p {
  font-size: 24px;
  color: #fefbfb;
}

.case {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 340px;
  width: 60%;
  display: flex;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  background: rgba(128, 128, 128, 0.1); /* Grey background with 80% opacity */
  backdrop-filter: blur(5px); /* Apply a blur effect to the background */

}

.case-content {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
}

.case p, .case a {
  color: #fff;
  padding: 20px;
}

.case a {
  text-decoration: none;
  background-color: #007BFF;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 20px;
}

.case img {
  width: 400px;
  border-radius: 5%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: block;
}

.prevTitle {
  color: #fff;
  font-size: 20px;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .text, .image {
    flex: none;
    width: 100%;
    margin: 0; /* Reset margin for smaller screens */
  }
}